* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(255, 130, 130);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: "Comfortaa", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

section a {
    color: white;
    text-decoration: none;
}

article {
    background-color: rgb(255, 130, 130);
    border: solid 2px rgb(255, 130, 130);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    width: 285px;
    height: 230px;
}

.about-page {
    margin-top: 5px;
}

.about-page h5 {
    margin-bottom: 5px;
}

.full-description {
    display: none;
}

.empty {
    background-color: rgb(204, 204, 204);
}

.empty p {
    text-align: center;
    vertical-align: middle;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 130, 130);
    color: rgb(255, 255, 255);
    padding: 10px;
}