* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: rgb(255, 100, 230);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

main {
    display: flex;
    justify-content: center;
}

header h1 {
    color: rgb(255, 255, 255);
}

section {
    min-width: 50%;
    width: 50%;
    z-index: -1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 15%;
}

section div {
    margin: 35px;
}

section h3 {
    color: rgb(255, 100, 230);
    margin-bottom: 25px;
}

section p {
    margin-bottom: 15px;
    margin-left: 2%;
}

section ul {
    margin-left: 7%;
}

section li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: rgb(255, 100, 230);
    color: rgb(255, 255, 255);
}